<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/navigationBar') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2 style="text-align: center;"><%=title%></h2>
    <h3 style="text-align: center;">Username: <%=username%></h3>
    <h3 style="text-align: center;">First Name: <%=firstName%></h3>
    <h3 style="text-align: center;">Last Name: <%=lastName%></h3>
    <h3 style="text-align: center;">Address: <%=address%></h3>
    <h3 style="text-align: center;">State: <%=state%></h3>
</body>
</html>