<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <%- include('../partials/navigationBar') %>
    <body>
      <h1> <%=title%> </h1>
      <script>let currentCart = []</script>
      <script>let i = 0;</script>
      <script>let temp = "0"</script>
      <% for(i=0;i<products.length;i++) {%>
        <div class="row">
          <div class="column">
            <img src=<%= products[i].img %> style="width:100%;height:auto;">
            <h2><%= products[i].productName %></h2>
            <body><%= products[i].description %></body>
            <form action="/pages/adminPage/<%= encodeURIComponent(products[i].productName) %>" method="post">
                  <button type="submit">Delete Product</button>
                </form>
          </div>
          <script>i++;</script>
          <%i++%>
          <%if(i<products.length) {%>
            <div class="column">
              <img src=<%= products[i].img %> style="width:100%;height:auto;">
              <h2><%= products[i].productName %></h2>
              <body><%= products[i].description %></body>
              <h3></h3>
              <form action="/pages/adminPage/<%= encodeURIComponent(products[i].productName) %>" method="post">
                  <button type="submit">Delete Product</button>
                </form>
            </div>
          <%}%>
          <script>i++;</script>
          <%i++%>
          <%if(i<products.length) {%>
            <div class="column">
              <img src=<%= products[i].img %> style="width:100%;height:auto;">
              <h2><%= products[i].productName %></h2>
              <body><%= products[i].description %></body>
              <h3></h3>
              <form action="/pages/adminPage/<%= encodeURIComponent(products[i].productName) %>" method="post">
                  <button type="submit">Delete Product</button>
                </form>
            </div>
          <%}%>
        </div>
        <script>i++;</script>
      <%}%>
     
    </body>
    <%- include('../partials/copyright') %>
</html>