<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <%- include('../partials/navigationBar') %>
    <body>
      <h1> <%=title%> </h1>
      <% products.forEach((product)=> { %>
        <h5>
          <%= product.productName %>
        </h5>
      <% }) %>
    <h5><%= products[0].img %></h5>
    </body>
    <%- include('../partials/copyright') %>
</html>