<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <%- include('../partials/navigationBar') %>
    <body>
      <h1> <%=title%> </h1>
      <% products.forEach((product)=> { %>
        <div class="row">
          <div class="column">
              <img src=<%= product.img %> style="width:250px;height:250px;">
          </div>
          <div class="column">
              <h2><%= product.productName %></h2>
              <h4><%= product.description %></h4>
          </div>
        </div>
      <% }) %>
    </body>
    <%- include('../partials/copyright') %>
</html>